/*****Animations*****/

@keyframes rotate-z {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/******Loaders*******/

.spinner {
    border: 1em solid currentColor;
    border-top: 1em solid transparent;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    animation: rotate-z 1s linear;
    animation-iteration-count: infinite;
}

.heart-beat::before,
.heart-beat::after {
    content: '';
    height: 6em;
    width: 5em;
    border-radius: 50%;
    position: absolute;
    background-color: currentColor;
    top: -8.6em;
}

.heart-beat::before {
    left: -4.58em;
    transform: rotateZ(-45deg);
}

.heart-beat::after {
    left: -0.42em;
    transform: rotateZ(45deg);
}

.heart-beat {
    animation: heartbeat 1s linear;
    animation-iteration-count: infinite;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 4em solid currentColor;
    width: 0;
    height: 0;
    position: relative;
    top: 5em;
    left: 2em;
}