/*****Animations*****/

@keyframes rotate-z {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blink {
    0% {
        height: 1.5em;
        top: 1em;
    }

    10% {
        height: 0.2em;
        top: 1.75em;
    }

    20% {
        height: 1.5em;
        top: 1em;
    }

    100% {
        height: 1.5em;
        top: 1em;
    }
}

@keyframes textloader {
    0% {
        content: '';
    }

    10% {
        content: 'L';
    }

    20% {
        content: 'LO';
    }

    30% {
        content: 'LOA';
    }

    40% {
        content: 'LOAD';
    }

    50% {
        content: 'LOADI';
    }

    60% {
        content: 'LOADIN';
    }

    70% {
        content: 'LOADING';
    }

    80% {
        content: 'LOADING.';
    }

    90% {
        content: 'LOADING..';
    }

    100% {
        content: 'LOADING...';
    }
}

@keyframes clock {
    from {
        transform: translate(0, -50%) rotate(0deg);
    }

    to {
        transform: translate(0, -50%) rotate(360deg);
    }
}

@keyframes rotate_y {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes bouncing-ball {
    0% {
        top: 4em;
        transform: scale(1.25, 0.75);
    }

    100% {
        top: 0;
        transform: scale(0.75, 1.25);
    }
}

@keyframes bouncing-ball-shadow {
    0% {
        box-shadow: 0 13em 0.3em 0 #000;
        transform: scale(1.25, 0.25);
    }

    100% {
        box-shadow: 0 13em 0.75em 0 #000;
        transform: scale(1.25, 0.25);
    }
}

@keyframes move-x {
    0% {
        transform: translateX(-2.5em);
    }

    100% {
        transform: translateX(2.5em);
    }
}

@keyframes move-y {
    0% {
        transform: translateY(-2.5em);
    }

    100% {
        transform: translateY(2.5em);
    }
}

@keyframes disintegrating-square {
    0% {
        box-shadow: 1em 1em 0 0 currentColor,
            2.1em 1em 0 0 transparent,
            3.2em 1em 0 0 transparent,
            1em 2.1em 0 0 transparent,
            2.1em 2.1em 0 0 transparent,
            3.2em 2.1em 0 0 transparent,
            1em 3.2em 0 0 transparent,
            2.1em 3.2em 0 0 transparent,
            3.2em 3.2em 0 0 transparent;
    }

    15% {
        box-shadow: 1em 1em 0 0 currentColor,
            2.1em 1em 0 0 currentColor,
            3.2em 1em 0 0 transparent,
            1em 2.1em 0 0 currentColor,
            2.1em 2.1em 0 0 transparent,
            3.2em 2.1em 0 0 transparent,
            1em 3.2em 0 0 transparent,
            2.1em 3.2em 0 0 transparent,
            3.2em 3.2em 0 0 transparent;
    }

    30% {
        box-shadow: 1em 1em 0 0 currentColor,
            2.1em 1em 0 0 currentColor,
            3.2em 1em 0 0 currentColor,
            1em 2.1em 0 0 currentColor,
            2.1em 2.1em 0 0 currentColor,
            3.2em 2.1em 0 0 transparent,
            1em 3.2em 0 0 currentColor,
            2.1em 3.2em 0 0 transparent,
            3.2em 3.2em 0 0 transparent;
    }

    45% {
        box-shadow: 1em 1em 0 0 currentColor,
            2.1em 1em 0 0 currentColor,
            3.2em 1em 0 0 currentColor,
            1em 2.1em 0 0 currentColor,
            2.1em 2.1em 0 0 currentColor,
            3.2em 2.1em 0 0 currentColor,
            1em 3.2em 0 0 currentColor,
            2.1em 3.2em 0 0 currentColor,
            3.2em 3.2em 0 0 currentColor;
    }

    60% {
        box-shadow: 1em 1em 0 0 transparent,
            2.1em 1em 0 0 transparent,
            3.2em 1em 0 0 currentColor,
            1em 2.1em 0 0 transparent,
            2.1em 2.1em 0 0 currentColor,
            3.2em 2.1em 0 0 currentColor,
            1em 3.2em 0 0 currentColor,
            2.1em 3.2em 0 0 currentColor,
            3.2em 3.2em 0 0 currentColor;
    }

    75% {
        box-shadow: 1em 1em 0 0 transparent,
            2.1em 1em 0 0 transparent,
            3.2em 1em 0 0 transparent,
            1em 2.1em 0 0 transparent,
            2.1em 2.1em 0 0 transparent,
            3.2em 2.1em 0 0 currentColor,
            1em 3.2em 0 0 transparent,
            2.1em 3.2em 0 0 currentColor,
            3.2em 3.2em 0 0 currentColor;
    }

    90% {
        box-shadow: 1em 1em 0 0 transparent,
            2.1em 1em 0 0 transparent,
            3.2em 1em 0 0 transparent,
            1em 2.1em 0 0 transparent,
            2.1em 2.1em 0 0 transparent,
            3.2em 2.1em 0 0 transparent,
            1em 3.2em 0 0 transparent,
            2.1em 3.2em 0 0 transparent,
            3.2em 3.2em 0 0 currentColor;
    }

    100% {
        box-shadow: 1em 1em 0 0 transparent,
            2.1em 1em 0 0 transparent,
            3.2em 1em 0 0 transparent,
            1em 2.1em 0 0 transparent,
            2.1em 2.1em 0 0 transparent,
            3.2em 2.1em 0 0 transparent,
            1em 3.2em 0 0 transparent,
            2.1em 3.2em 0 0 transparent,
            3.2em 3.2em 0 0 transparent;
    }
}

@keyframes pulsate {

    0%,
    100% {
        background-color: #ddd;
    }

    50% {
        background-color: #999;
    }
}

/******Loaders*******/

.spinner::before {
    content: '';
    display: inline-block;
    border: 1em solid currentColor;
    border-top: 1em solid transparent;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    animation: rotate-z 1s linear;
    animation-iteration-count: infinite;
}

.heart-beat::before,
.heart-beat::after {
    content: '';
    height: 6em;
    width: 5em;
    border-radius: 50%;
    position: absolute;
    background-color: currentColor;
    top: -8.6em;
}

.heart-beat::before {
    left: -4.58em;
    transform: rotateZ(-45deg);
}

.heart-beat::after {
    left: -0.42em;
    transform: rotateZ(45deg);
}

.heart-beat {
    display: inline-block;
    width: 0;
    animation: heartbeat 1s linear;
    animation-iteration-count: infinite;
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    border-top: 4em solid currentColor;
    position: relative;
    top: 4em;
}

.text-loader::before {
    content: '';
    font-family: sans-serif;
    animation: textloader 1s linear;
    animation-iteration-count: infinite;
    border-right: 1px solid currentColor;
}

.text-loader {
    width: 6em;
}

.clock {
    height: 6em;
    width: 6em;
    border: 0.5em solid currentColor;
    border-radius: 50%;
    position: relative;
}

.clock::before {
    animation: clock 1s linear;
    width: 2.5em;
}

.clock::after {
    animation: clock 5s linear;
    width: 2em;
}

.clock::before,
.clock::after {
    content: '';
    height: 0.5em;
    background-color: currentColor;
    position: absolute;
    border-radius: 1em;
    top: 50%;
    left: 50%;
    animation-iteration-count: infinite;
    transform-origin: left;
}

.three-d-plus {
    position: relative;
    background-color: red;
    animation: rotate_y 1s linear;
    animation-iteration-count: infinite;
}

.three-d-plus::before {
    position: absolute;
    content: '';
    background-color: green;
    transform: rotateX(60deg);
}

.three-d-plus::after {
    position: absolute;
    content: '';
    background-color: blue;
    transform: rotateZ(90deg);
}

.three-d-plus,
.three-d-plus::before,
.three-d-plus::after {
    height: 5em;
    width: 5em;
    opacity: 0.7;
    display: block;
}

.blinking-eyes,
.blinking-eyes::after {
    position: relative;
    border: 0.2em solid currentColor;
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

.blinking-eyes::before,
.blinking-eyes::after {
    content: '';
    position: absolute;
}

.blinking-eyes::before {
    left: 1.25em;
    width: 0.5em;
    animation: blink 1s cubic-bezier(0, 0, 0.2, 1);
    animation-iteration-count: infinite;
    box-shadow: 2em 0 currentColor;
    background-color: currentColor;
}

.blinking-eyes::after {
    width: 3em;
    left: 0.75em;
    border-color: transparent;
    border-bottom-color: currentColor;
    top: -1em;
}

.bouncing-ball {
    position: relative;
}

.bouncing-ball::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 1em solid;
    border-color: red green blue yellow;
    position: absolute;
    z-index: 1;
    animation: bouncing-ball 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.bouncing-ball::after {
    content: '';
    display: block;
    width: 2em;
    height: 2em;
    top: 1.5em;
    border-radius: 50%;
    position: absolute;
    animation: bouncing-ball-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.radar {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background: conic-gradient(from 0deg, currentColor, transparent);
    animation: rotate-z 1s linear;
    animation-iteration-count: infinite;
}

.revolving-dot {
    width: 5em;
    height: 5em;
    position: relative;
    animation: rotate-z 1s linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    border: 1em solid rgba(0, 0, 0, 0.1);
}

.revolving-dot::after {
    content: ' ';
    position: absolute;
    left: -0.3em;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: currentColor;
}

.disintegrating-square::before {
    content: '';
    display: block;
    height: 1em;
    width: 1em;
    animation: disintegrating-square 1s linear;
    animation-iteration-count: infinite;
    position: relative;
    top: -2.1em;
    left: -2.1em;
}

.placeholder {
    position: relative;
    overflow: hidden;
    animation: pulsate 2s linear;
    animation-iteration-count: infinite;
}